/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eb1c24;
    padding: 15px 30px;
    color: white;
    width: 100%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}